name: CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: [validate]
    steps:
      - name: Deploy Backend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID_BACKEND }}
          api-key: ${{ secrets.RENDER_API_KEY }}

      - name: Deploy Frontend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID_FRONTEND }}
          api-key: ${{ secrets.RENDER_API_KEY }}
